# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
Debug/vc141.idb
Debug/vc141.pdb
Debug/离线渲染.log
Debug/离线渲染.tlog/CL.command.1.tlog
Debug/离线渲染.tlog/CL.read.1.tlog
Debug/离线渲染.tlog/CL.write.1.tlog
Debug/离线渲染.tlog/link.command.1.tlog
Debug/离线渲染.tlog/link.read.1.tlog
Debug/离线渲染.tlog/link.write.1.tlog
Debug/离线渲染.tlog/离线渲染.lastbuildstate
rgb.png
rgba.png
离线渲染.vcxproj
离线渲染.vcxproj.filters
离线渲染.vcxproj.user
离线渲染.vcxproj.user
